<div class="main-long">
  <div class="headerImage"></div>
  <div class="wrapper">
    <div class="form-wrapper">
      <div class="title-wrapper">
        <h1 class="title-form">About Us</h1>
      </div >
      <div style="color: var(--mainGreyColor);">
        <p>Welcome to our Healing Herbal Recipe Community!</p>
        <p>
          Hello and welcome to our cozy corner dedicated to the power of herbs
          for health and well-being! We are passionate enthusiasts of herbal
          healing recipes and have decided to create this space where people
          from all over the world can come together to share their knowledge,
          experience, and love for herbal remedies.
        </p>
        <p>
          We believe in the healing power of nature and strive to provide our
          users with a wealth of resources and inspiring ideas to improve their
          health and well-being. Our mission is to create a space where people
          can find recipes and support from the community to feel healthier and
          stronger.
        </p>
        <p>
          Join us today and become part of our Healing Herbal Recipe Community!
          Together, we can achieve good heath and well-being through the power
          of nature and community.
        </p>

        <p>
          Thank you for choosing to be part of our journey towards health and
          harmony!
        </p>

        <p>With love and gratitude,</p>
        <p>The Natural Way Team</p>
      </div>
    </div>
  </div>
</div>
