<main class="main-short">
  <div class="headerImage"></div>
  <div class="wrapper">
    <div class="empty">
      <div class="title-wrapper">
        <h1 class="title">Page not Found!</h1>
      </div>
      <div class="logo-svg">
        <app-logo-svg />
      </div>

      <div class="emptyInfo">
        <p>We're sorry, but the page you're looking for cannot be found. &nbsp;&nbsp;</p>
        <a routerLink="/" class="btn btn-outline-light" style="color: var(--textColor);" href="">Back to Home</a>
      </div>
    </div>
  </div>
</main>
