<main class="main-short">
  <div class="headerImage"></div>
  <div class="wrapper" data-aos="fade-up" data-aos-duration="3000">
    <div class="empty">
      <div class="title-wrapper">
        <h1 class="title">Page not Found!</h1>
      </div>
      <!-- <div class="logo-svg">
        <app-logo-svg />
      </div> -->

      <div class="emptyInfo" style="margin-bottom: 10px;">
        <p>We're sorry, but the page you're looking for cannot be found.</p>
      </div>
      <a routerLink="/" class="button-img">Back to Home</a>
    </div>
  </div>
</main>
