<div class="main-short">
  <div class="headerImage"></div>
  <div class="wrapper">
    <div class="form-wrapper">

      <div class="title-wrapper" style="flex-direction: column;">
        <h1 class="title-form">Forgotten</h1>

      </div>
      <h1 style="justify-content: flex-end;" class="title-form">password</h1>

      <p class="hint">
        Please enter your email address so we can send you a password reset
        email.
      </p>

      <div class="formGroup">
        <input
          type="email"
          class="formControl"
          placeholder="Email"
          #passwordResetEmail
          required
        />
      </div>
      <p class="errors">
        If you can't find the email, please check your spam folder!
      </p>

      <div class="buttons">
        <input
          type="submit"
          class="button"
          value="Send email"
          (click)="userService.forgotPassword(passwordResetEmail.value)"
        />

        <a href="#" routerLink="/login">
          <div class="hint">Return to Login</div>
        </a>
      </div>
    </div>
  </div>
</div>
