<div class="mainLong">
  <div class="headerImage"></div>
  <div class="wrapper-list">
    <div class="recipe-container" data-aos="fade-up" data-aos-duration="3000">
      <!-- title require -->

      <div>
        <div class="title-wrapper">
          <h1 class="title">{{ recipe?.title }}</h1>
        </div>

        <!-- subtitle require -->
        <h3 class="recipe-subtitle">{{ recipe?.subtitle }}</h3>

        <br *ngIf="!recipe?.summary" />

        <!-- summary -->
        <div *ngIf="recipe?.summary" class="recipe-summary">
          {{ recipe?.summary }}
          <div *ngIf="!recipe?.summary">
            <br />
          </div>
        </div>

        <div style="justify-content: flex-end" class="commentBtnWrapper">
          <span
            *ngIf="userData && userData.uid == recipe?.uid"
            class="button-img"
            (click)="navigateToRecipeDelete()"
          >
            <i class="fa-solid fa-trash"></i>
          </span>

          <span
            *ngIf="userData && userData.uid == recipe?.uid"
            class="button-img"
            (click)="navigateToRecipeEdit()"
          >
            <i class="fa-regular fa-pen-to-square"></i>
          </span>
        </div>
      </div>

      <!-- image  -->
      <div class="recipe-hero">
        <ul
          *ngIf="recipe?.image_recipe && recipe?.image_recipe?.length! > 0"
          class="recipe-image"
        >
          <li *ngFor="let img of recipe?.image_recipe">
            <img
              [src]="img.image_recipe"
              alt="Image of a recipe"
              data-aos="fade-up"
              data-aos-duration="3000"
            />
          </li>
          <div style="font-size: 12px">Added by {{ recipe?.author }}</div>
        </ul>

        <div class="recipe-info" data-aos="fade-left" data-aos-duration="3000">
          <div *ngIf="recipe?.likes?.length! > 0">
            <span>
              <!-- <i class="fa-regular fa-thumbs-up"></i> -->
              <i class="fa-solid fa-thumbs-up"></i>
              {{ recipe?.likes?.length }}</span
            >
          </div>

          <div *ngIf="comments && comments.length > 0">
            <span
              >{{ comments.length }} <i class="fa-solid fa-comment"></i
            ></span>
          </div>
        </div>

        <div
          *ngIf="userData"
          class="buttons-grid"
          data-aos="fade-right"
          data-aos-duration="3000"
        >
          <button class="" *ngIf="userData" (click)="updateRecipeLikes()">
            <ng-container
              *ngIf="
                userData &&
                  recipe &&
                  recipe.likes &&
                  userData?.uid &&
                  recipe.likes.includes(userData.uid);
                else notLiked
              "
            >
              <i class="fa-solid fa-thumbs-up"></i>
            </ng-container>
            <ng-template #notLiked>
              <i class="fa-regular fa-thumbs-up"></i>
            </ng-template>
          </button>

          <button class="" *ngIf="userData" (click)="updateFavoriteRecipes()">
            <ng-container
              *ngIf="
                recipe &&
                  userData &&
                  userData.favoriteRecipes &&
                  userData.favoriteRecipes.includes(this.recipeId || '');
                else notLiked
              "
            >
              <i class="fa-solid fa-heart"></i>
            </ng-container>
            <ng-template #notLiked
              ><i class="fa-regular fa-heart"></i
            ></ng-template>
          </button>

          <button
            *ngIf="!showCommentForm"
            class=""
            (click)="toggleCommentForm()"
          >
            <i class="fa-regular fa-comment"></i>
          </button>

          <button
            *ngIf="showCommentForm"
            class=""
            (click)="toggleCommentForm()"
          >
            <i class="fa-solid fa-comment"></i>
          </button>
        </div>

        <div *ngIf="showCommentForm">
          <app-comment-form [recipeId]="recipeId" />
        </div>

        <div
          class="description-wrapper"
          data-aos="fade-left"
          data-aos-duration="3000"
        >
          <div class="divider">
            <hr />
            <p>&nbsp;&nbsp;Description&nbsp;&nbsp;</p>
            <hr />
          </div>
          <br />

          <!-- description require -->
          <p class="recipe-description-text description">
            {{ recipe?.description }}
          </p>
          <br />
        </div>
        <div
          class="ingredients-wrapper"
          data-aos="fade-right"
          data-aos-duration="3000"
        >
          <div *ngIf="recipe?.ingredients" class="divider">
            <hr />
            <p>&nbsp;&nbsp;Ingredients&nbsp;&nbsp;</p>
            <hr />
          </div>
          <br />

          <ul
            class="recipe-ingredients"
            *ngFor="let ingredient of recipe?.ingredients"
          >
            <li *ngIf="recipe?.ingredients">
              <!-- name, amount, unit require -->
              {{ ingredient.name }}
              - {{ ingredient.amount }} {{ ingredient.unit }}
            </li>
          </ul>
        </div>

        <div
          class="recipe-videos"
          *ngIf="recipe?.video_recipe && recipe?.video_recipe?.length! > 0"
        >
          <div class="divider">
            <hr />
            <p>&nbsp;&nbsp;Video&nbsp;&nbsp;</p>
            <hr />
          </div>
          <br />

          <ul>
            <li *ngFor="let video of recipe?.video_recipe">
              <iframe
                width="560"
                height="315"
                [src]="video.video_recipe | safeUrl"
                allowfullscreen
              ></iframe>
            </li>
          </ul>
        </div>

        <div
          class="comments-wrapper"
          data-aos="fade-up"
          data-aos-duration="3000"
        >
          <div *ngIf="comments.length > 0" class="divider">
            <hr />
            <p>&nbsp;&nbsp;Comments&nbsp;&nbsp;</p>
            <hr />
          </div>

          <section class="comments" *ngIf="comments.length > 0">
            <ul *ngFor="let comment of comments">
              <li>{{ comment.name }}</li>
              <li>{{ comment.comment }}</li>

              <li class="comments-last">
                <p>
                  {{
                    comment.create_time.toDate() | date : "dd/MM/yyyy HH:mm:ss"
                  }}
                </p>

                <div class="commentBtnWrapper">
                  <span
                    class="button-img"
                    *ngIf="userData && comment.uid == userData.uid"
                    (click)="deleteComment(comment.id)"
                  >
                    <i class="fa-solid fa-trash"></i>
                  </span>

                  <span
                    class="button-img"
                    *ngIf="userData && comment.uid == userData.uid"
                    (click)="navigateToCommentEdit(comment.id)"
                  >
                    <i class="fa-regular fa-pen-to-square"></i>
                  </span>
                </div>
              </li>
              <hr class="hr" />
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
