<div class="mainLong">
  <div class="headerImage"></div>
  <div class="wrapper-list">
    <div class="recipe-container">
      <!-- title require -->

      <div class="title-wrapper">
        <h1 class="title">{{ recipe?.title }}</h1>
      </div>

      <!-- subtitle require -->
      <h3 class="recipe-subtitle">{{ recipe?.subtitle }}</h3>

      <!-- summary -->
      <div *ngIf="recipe?.summary" class="recipe-summary">
        {{ recipe?.summary }}
      </div>

      <div *ngIf="!recipe?.summary">
        <br />
      </div>

      <!-- image  -->
      <div class="recipe-hero">
        <ul
          *ngIf="recipe?.image_recipe && recipe?.image_recipe?.length! > 0"
          class="recipe-image"
        >
          <li *ngFor="let img of recipe?.image_recipe">
            <img [src]="img.image_recipe" alt="Image of a recipe" />
          </li>
        </ul>

        <div *ngIf="userData" class="buttons">
          <!-- like -->
          <div class="like-wrapper">
            <button
              class="button"
              *ngIf="userData"
              (click)="updateRecipeLikes()"
            >
              <ng-container
                *ngIf="
                  userData &&
                    recipe &&
                    recipe.likes &&
                    userData?.uid &&
                    recipe.likes.includes(userData.uid);
                  else notLiked
                "
              >
                <i class="fa-solid fa-heart fa-beat-fade"></i>
              </ng-container>
              <ng-template #notLiked>
                <i class="fa-regular fa-heart fa-beat-fade"></i>
              </ng-template>
            </button>

            <div *ngIf="recipe?.likes?.length! > 0">
              <span>Like: {{ recipe?.likes?.length }}</span>
            </div>
          </div>
          <!-- favorite -->
          <button
            class="button-img"
            *ngIf="userData"
            (click)="updateFavoriteRecipes()"
          >
            <ng-container
              *ngIf="
                recipe &&
                  userData &&
                  userData.favoriteRecipes &&
                  userData.favoriteRecipes.includes(this.recipeId || '');
                else notLiked
              "
            >
              Save it!
            </ng-container>
            <ng-template #notLiked>Save Recipe</ng-template>
          </button>
        </div>

        <div class="divider">
          <hr />
          <p>&nbsp;&nbsp;Preparation&nbsp;&nbsp;</p>
          <hr />
        </div>
        <br />

        <!-- description require -->
        <p class="recipe-description-text description">
          {{ recipe?.description }}
        </p>
        <br />

        <div *ngIf="recipe?.ingredients" class="divider">
          <hr />
          <p>&nbsp;&nbsp;Ingredients&nbsp;&nbsp;</p>
          <hr />
        </div>
        <br />

        <ul
          class="recipe-ingredients"
          *ngFor="let ingredient of recipe?.ingredients"
        >
          <li *ngIf="recipe?.ingredients">
            <!-- name, amount, unit require -->
            {{ ingredient.name }}
            - {{ ingredient.amount }} {{ ingredient.unit }}
          </li>
        </ul>

        <div
          class="recipe-videos"
          *ngIf="recipe?.video_recipe && recipe?.video_recipe?.length! > 0"
        >
          <div class="divider">
            <hr />
            <p>&nbsp;&nbsp;Video&nbsp;&nbsp;</p>
            <hr />
          </div>
          <br />

          <ul>
            <li *ngFor="let video of recipe?.video_recipe">
              <iframe
                width="560"
                height="315"
                [src]="video.video_recipe | safeUrl"
                allowfullscreen
              ></iframe>
            </li>
          </ul>
        </div>

        <div class="divider" *ngIf="userData">
          <hr />
          <p>&nbsp;&nbsp;Buttons&nbsp;&nbsp;</p>
          <hr />
        </div>
        <br />

        <div class="buttons buttons-img" *ngIf="userData">
          <button
            *ngIf="!showCommentForm"
            class="button-img"
            (click)="toggleCommentForm()"
          >
            Comment?
          </button>

          <button
            *ngIf="showCommentForm"
            class="button-img"
            (click)="toggleCommentForm()"
          >
            Hide Form
          </button>

          <button
            *ngIf="userData && userData.uid == recipe?.uid"
            class="button-img"
            (click)="navigateToRecipeEdit()"
          >
            Edit Recipe
          </button>

          <button
            *ngIf="userData && userData.uid == recipe?.uid"
            class="button-img"
            (click)="navigateToRecipeDelete()"
          >
            Delete Recipe
          </button>
        </div>

        <div *ngIf="showCommentForm">
          <app-comment-form [recipeId]="recipeId" />
        </div>

        <div *ngIf="comments.length > 0" class="divider">
          <hr />
          <p>&nbsp;&nbsp;Comments&nbsp;&nbsp;</p>
          <hr />
        </div>

        <section class="comments" *ngIf="comments.length > 0">
          <ul *ngFor="let comment of comments">
            <li>{{ comment.name }}</li>
            <li>{{ comment.text }}</li>

            <li class="comments-last">
              <p>
                {{
                  comment.create_time.toDate() | date : "dd/MM/yyyy HH:mm:ss"
                }}
              </p>

              <div class="commentBtnWrapper">
                <span
                  *ngIf="userData && comment.uid == userData.uid"
                  (click)="deleteComment(comment.id)"
                >
                  <i class="fa-solid fa-trash fa-shake"></i>
                </span>

                <span
                  *ngIf="userData && comment.uid == userData.uid"
                  (click)="navigateToCommentEdit(comment.id)"
                >
                  <i class="fa-regular fa-pen-to-square fa-flip"></i>
                </span>
              </div>
            </li>
            <hr />
          </ul>
        </section>
      </div>
    </div>
  </div>
</div>
