.recipe-container {
  background-color: var(--backgroundColor);
  max-width: 800px;
  margin: -50px auto 50px auto;
  padding: 32px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3);
}

.title {
  font-size: 28px;
}

.recipe-subtitle {
  font-size: 14px;
  margin-top: -10px;
  color: var(--mainGreyColor);
  font-style: italic;
  white-space: pre-wrap;
}

.recipe-summary {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
  font-style: italic;
  white-space: pre-wrap;
}

.recipe-hero {
  grid-template-columns: 70% 30%;
  gap: 20px;
}

ul.recipe-image {
  padding-left: unset;
}

.recipe-image li {
  list-style: none;
  margin-bottom: 10px;
}

.recipe-image li img {
  width: 100%;
  border-radius: 5px;
}

.recipe-description-text {
  font-size: 16px;
  white-space: pre-wrap;
}

.recipe-ingredients {
  padding: 0 16px;
}

.recipe-ingredients li {
  font-size: 16px;
  margin-bottom: 10px;
  list-style-type: disc;
}

.recipe-videos h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.recipe-videos iframe {
  width: 100%;
  max-width: 800px;
  height: 450px;
}

.recipe-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.buttons-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3);
  overflow: hidden;
}

.buttons-grid button {
  border: unset;
  background-color: var(--backgroundColor);
  transition: 0.5s ease-in-out;
}

.buttons-grid button:hover {
  background-color: var(--mainMagnoliaColor);
}

.buttons-grid button:active {
  background-color: var(--backgroundColor);
}

.buttons-grid i {
  color: var(--textColor);
}

.like-wrapper {
  display: flex;
  gap: 20px;
  align-items: baseline;
  /* align-items: center; */
}

.comments {
  border: 1px solid var(--mainMagnoliaColor);
  margin: 30px 0;
  padding: 20px;
}

.comments ul {
  padding: 10px;
}

.comments ul li {
  margin-bottom: 10px;
  padding-left: 5px;
}

.comments p {
  font-size: 14px;
  color: var(--mainGreyColor);
}

.comments ul li:nth-child(odd) {
  background-color: var(--backgroundColor);
  padding-left: 5px;
  border-radius: 5px;
}

.comments ul li:nth-child(even) {
  background-color: var(--mainMagnoliaColor);
  font-style: italic;
  border-radius: 5px;
}

.comments-last {
  display: flex;
  justify-content: space-between;
}






@media (max-width: 640px) {
  .buttons-img {
    flex-direction: column-reverse;
  }

  .buttons {
    display: flex;
    padding: unset;
    /* flex-direction: column; */
    width: 100%;
    justify-content: space-around;
    align-items: stretch;
    gap: 10px;
  }

  .like-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  /* .comments-last {
    flex-direction: column;
  } */
}