.carousel {
  max-height: 93vh;
  overflow: hidden;
}

.carousel-img {
  height: 100vh;
  object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 9;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 50%;
  background-color: var(--mainRGBAColor);
  /* background-color: rgba(189, 107, 111, 0.8); */
  z-index: 9;
}

.info {
  position: absolute;
  left: 37%;
  right: 10%;
  top: 40%;
  transform: translate(2%, -27%);
  color: var(--mainWhiteColor);
  text-align: left;
}

.carousel-title {
  font-size: 30px;
  padding-bottom: 20px;
  font-weight: 800;
  color: var(--backgroundColor);
  text-align: left;
  box-shadow: unset;
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 25px;
}

.infoBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--mainYellowColor);
  color: var(--textColor);
  border-radius: 24px;
  padding: 0 25px;
  font-weight: 700;
  font-size: 17px;
  height: 48px;
  transition: .3s ease-in-out;
}

.infoBtn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 460px) {
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: var(--mainRGBAColor);
    z-index: 9;
  }

  .info {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 30%;
    color: var(--mainWhiteColor);
    text-align: center;
  }

  .carousel-title {
    font-size: 26px;
    padding-bottom: 10px;
    font-weight: 900;
    text-align: center;
  }
}

@media (min-width: 461px) and (max-width: 767px) {
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: var(--mainRGBAColor);
    z-index: 9;
  }

  .info {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 30%;
    color: var(--mainWhiteColor);
    text-align: center;
  }



  .carousel-title {
    font-size: 26px;
    padding-bottom: 10px;
    font-weight: 900;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .info {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 30%;
    color: var(--mainWhiteColor);
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {}

@media (min-width: 1441px) {}