.carousel {
  border-radius: 16px;
  overflow: hidden;
}

.carousel-img {
  height: 80vh;
  object-fit: cover;
  object-position: center;

}

.carousel-control-prev,
.carousel-control-next {
  z-index: 9;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 50%;
  background-color: var(--mainRGBAColor);
  z-index: 9;
}


.info {
  z-index: 2;
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 50px;
  justify-content: center;
  align-items: flex-start;
  max-width: 500px;
  max-height: 500px;
  margin: 32px;
  border-radius: 16px;
  background-color: var(--mainRGBAColor);
}

.carousel-title {
  font-size: 30px;
  padding-bottom: 20px;
  font-weight: 900;
  text-align: left;
  box-shadow: unset;
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 25px;
}

.infoBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--backgroundColor);
  color: var(--textColor);
  border-radius: 24px;
  padding: 0 25px;
  font-weight: 700;
  font-size: 17px;
  height: 48px;
  transition: .3s ease-in-out;
}

.infoBtn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 460px) {
  .carousel {
    border-radius: 0;
    height: 93vh;
  }

  .carousel-img {
    height: 97vh;
  }

  .info {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: var(--mainWhiteColor);
    justify-content: flex-start;
    align-items: center;
    max-width: unset;
    max-height: unset;
    margin: unset;
    /* margin-top: 50px; */
    padding: 150px 16px 16px 16px;
    border-radius: unset;
  }

  .subtitle {
    max-width: 100%;
  }
}

@media (min-width: 461px) and (max-width: 767px) {

  .info {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: var(--mainWhiteColor);
    max-width: unset;
    max-height: unset;
    margin: unset;
  }

}

@media (min-width: 768px) and (max-width: 1023px) {}

@media (min-width: 1024px) and (max-width: 1440px) {}

@media (min-width: 1441px) {}