.footer {
    background-color:  var(--backgroundColor);
    height: 8vh;
    /* background-color:  var(--mainBlackColor); */
    color: #40513B;
    /* color: var(--mainWhiteColor); */
    text-align: center;
}

.footer a {
    color: #40513B;
    /* color: var(--mainWhiteColor); */
    text-decoration: none;
}

.social-icons a {
    margin-right: 10px;
}

.social-icons i {
    font-size: 20px;
}