<main class="main-long">
  <section class="recipes-list">
    <h2 class="title">Recipes list</h2>
    <section class="wrapper">
      <ul class="cards" *ngFor="let recipe of recipes">

        <li class="card-item">
          <a [routerLink]="['/recipe/', recipe.id]">
            <div class="card" tabindex="0">
              <div class="card-image">
                <img
                  [src]="recipe!.image_recipe[0]!.image_recipe"
                  alt="recipe.title"
                />
              </div>

              <h3 class="card-title">{{ recipe.title }}</h3>
            </div>
          </a>
        </li>
      </ul>
    </section>
  </section>
</main>
