<main class="main-long">
  <div class="headerImage"></div>
  <div class="wrapper-list">
    <div class="title-wrapper">
      <h1 class="title">Recipes</h1>
    </div>

    
    <div class="recipe-list">
      <div *ngFor="let recipe of recipes">
        <a [routerLink]="['/recipe', recipe.id]">
          <div class="recipe-item">
            <div class="recipe-image">
              <img
                [src]="recipe!.image_recipe[0]!.image_recipe"
                alt="{{ recipe.title }}"
              />
            </div>
            <p class="recipe-title">{{ recipe.title }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</main>
