<div class="commentWrapper">
  <form [formGroup]="commentForm" id="commentForm" (ngSubmit)="onSubmit()">
    <br />
    <div class="form-group">
      <input
        placeholder="Write your comment ..."
        id="comment"
        formControlName="comment"
        class="header-user-search"
      />

      <button class="header-user-action header-user-action-btn" type="submit">
        <i class="fa-regular fa-paper-plane"></i>
      </button>
    </div>

    <div *ngIf="commentForm.get('comment')?.touched">
      <div
        class="errors"
        *ngIf="commentForm.get('comment')?.errors?.['required']"
      >
        Please write a comment!
      </div>

      <div
        class="errors"
        *ngIf="commentForm.get('comment')?.errors?.['minlength']"
      >
        Comment must be at least 10 characters long.
      </div>

      <div
        class="errors"
        *ngIf="commentForm.get('comment')?.errors?.['maxlength']"
      >
        Comment cannot exceed 500 characters.
      </div>
    </div>
    <br />
  </form>
</div>
