<div class="commentWrapper">
  <form [formGroup]="commentForm" id="commentForm" (ngSubmit)="onSubmit()">
    <div class="divider">
      <hr/>
      <p>&nbsp;&nbsp;Comment&nbsp;&nbsp;</p>
      <hr/>
    </div>

    <div class="form-group">
      <label for="text">Comment (required)</label>
      <textarea
        placeholder="Please write your comment here!"
        id="text"
        formControlName="text"
        class="form-control"
        rows="5"
        cols="30"
      ></textarea>
    </div>
    <div *ngIf="commentForm.get('text')?.touched">
      <div class="errors" *ngIf="commentForm.get('text')?.errors?.['required']">
        Please write your comment here!
      </div>
    </div>
    <br/>
    <button class="button" style="width: 100%" type="submit">Submit</button>
  </form>

</div>

