<div class="commentWrapper">
  <form [formGroup]="commentForm" id="commentForm" (ngSubmit)="onSubmit()">
    <div class="divider">
      <hr/>
      <p>&nbsp;&nbsp;Comment&nbsp;&nbsp;</p>
      <hr/>
    </div>

    <div class="form-group">
      <label for="comment">Comment (required)</label>
      <textarea
        placeholder="Please write your comment here!"
        id="comment"
        formControlName="comment"
        class="form-control"
        rows="5"
        cols="30"
      ></textarea>
    </div>
    <div *ngIf="commentForm.get('comment')?.touched">
      <div
        class="errors"
        *ngIf="commentForm.get('comment')?.errors?.['required']"
      >
        Please write a comment!
      </div>

      <div
        class="errors"
        *ngIf="commentForm.get('comment')?.errors?.['minlength']"
      >
        Comment must be at least 10 characters long.
      </div>

      <div
        class="errors"
        *ngIf="commentForm.get('comment')?.errors?.['maxlength']"
      >
        Comment cannot exceed 500 characters.
      </div>
    </div>
    <br/>
    <button class="button" style="width: 100%" type="submit">Submit</button>
  </form>

</div>

