<div class="main-long">
  <div class="headerImage"></div>
  <div class="wrapper">
    <div class="form-wrapper">
      <div class="title-wrapper">
        <h1 class="title-form">Privacy Policy</h1>
      </div>

      <p style="font-style: italic">Last updated: 29.03.2024</p>

      <p>
        Welcome to the Privacy Policy of "The Natural Way". Our Privacy Policy
        explains how we collect, use, and disclose the personal information we
        receive from visitors to our Website.
      </p>
      <h5>1. Collection of Information</h5>

      <p>
        When you visit the Website, we may collect certain information from and
        about you. This information may include, but is not limited to:
        <span style="font-style: italic">
          Personal data such as names, email addresses, mailing addresses, etc.,
          that you voluntarily provide to us through contact forms or account
          registration. Information about your computer, including IP address,
          browser type, operating system, and similar data for trend analysis,
          Website management, and protection against abuse.
        </span>
      </p>

      <h5>2. Use of Information</h5>

      <p>
        We use the collected information to provide and improve the Website,
        interact with users, analyze trends, and provide personalized content
        and advertisements.
      </p>

      <h5>3. Disclosure of Information</h5>
      <p>
        We may disclose personal information to our partners, service providers,
        and other third parties when necessary to provide services and perform
        tasks related to Website management.
      </p>

      <h5>4. Cookies and Similar Technologies</h5>
      <p>
        Our Cookie Policy explains how we use cookies and similar technologies
        that may be used on our Website.
      </p>
      <h5>5. Changes to the Privacy Policy</h5>
      <p>
        We may update this Privacy Policy from time to time. Any changes to this
        Privacy Policy will be posted on this page.
      </p>
      <h5>6. Linked Services and Websites</h5>

      <p>
        The Website may contain links to other websites and services that are
        not under our control. We are not responsible for the content and
        practices of these websites, and we encourage you to review the privacy
        policies of each website you visit.
      </p>
      <h5>7. Contact Information</h5>

      <p>
        For additional information regarding our Privacy Policy, please contact
        us at
        <span>
            <a routerLink="/contact">Contact Us</a> page.
        </span>
      </p>
    </div>
  </div>
</div>
