<main
  class="main"
  [ngClass]="{
    'main-short': comments.length === 0,
    'main-long': comments.length > 0
  }"
>
  <!-- 'main-short': comments.length === 0 && !isLoadingComments, -->
  <div class="headerImage"></div>
  <div
    class="wrapper"
    *ngIf="comments.length >= 0"
    data-aos="fade-up"
    data-aos-duration="3000"
  >
    <div class="empty" *ngIf="comments.length === 0 && !isLoadingComments">
      <div class="title-wrapper">
        <h1 class="title">You have no comments!</h1>
      </div>
      <!-- <div class="logo-svg">
        <app-logo-svg />
      </div> -->

      <div class="emptyInfo" style="padding-bottom: 10px;" >
        <p>You can view our recipe and write your first comment &nbsp;&nbsp;</p>
      </div>
      <a routerLink="/recipes-list" class="button-img">Recipes</a>
    </div>

    <div class="empty" *ngIf="isLoadingComments">
      <div class="loader"></div>
    </div>

    <div
      *ngIf="comments.length > 0 && !isLoadingComments"
      class="wrapper-list"
      data-aos="fade-up"
      data-aos-duration="3000"
      style="
        max-width: 600px;
        margin: -50px auto 50px auto;
        padding: 32px;
        background-color: var(--backgroundColor);
        border-radius: unset;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
      "
    >
      <div *ngIf="userData" class="title-wrapper">
        <h1 class="title">
          Comments by {{ userData.firstName + " " + userData.lastName }}
        </h1>
      </div>

      <div class="comments">
        <ul
          data-aos="flip-up"
          data-aos-easing="ease-out-cubic"
          data-aos-duration="2000"
          *ngFor="let comment of comments"
        >
          <li>
            <a class="button-img" routerLink="/recipe/{{ comment.recipeId }}"
              >Go to recipe</a
            >
            <br />
            <br />
          </li>
          <li>{{ comment.comment }}</li>

          <li class="comments-last">
            <p>
              {{ comment.create_time.toDate() | date : "dd/MM/yyyy HH:mm:ss" }}
            </p>

            <div class="commentBtnWrapper">
              <span
                class="button-img"
                *ngIf="userData && comment.uid == userData.uid"
                (click)="deleteComment(comment.id)"
              >
                <i class="fa-solid fa-trash"></i>
              </span>

              <span
                class="button-img"
                *ngIf="userData && comment.uid == userData.uid"
                (click)="navigateToCommentEdit(comment.id)"
              >
                <i class="fa-regular fa-pen-to-square"></i>
              </span>
            </div>
          </li>
          <hr class="hr" />

          <!-- <hr class="hr"> -->
        </ul>
      </div>
    </div>
  </div>
</main>
