.navbar {
    position: absolute;
    top: 6%;
    left: 15%;
    right: 15%;
    z-index: 1000;

    background-color: var(--mainWhiteColor);
    padding: 12px;
}

.navbar-brand {
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    font-size: 42px;
    color: var(--darkGrayishGreen);
}

.search {
    border: 1px solid var(--darkGrayishGreen);
    border-radius: unset;
}
.search:hover{
    background-color:var(--mainColor) ;
}

.navbar-nav {
    margin-left: auto;
}

.form-control {
    border-color: var(--darkGrayishGreen);
    border-radius: unset;
}


.form-control:focus {
    box-shadow: 0 0 0 0.25rem var(--mainGreenColor);
}

.form-control:focus {
    border-color: var(--mainGreenColor)
}

.btn:active {
    border-color: var(--mainGreenColor);
}


/* toggler */
.navbar-toggler {
    color: var(--darkGrayishGreen);
}

.navbar-toggler-icon {
    color: var(--darkGrayishGreen);
    ;
}