
<!-- <div class="head-info-area">
  <div class="center">
  <div class="left"> <span class="phntp">
  <i class="fa fa-phone" aria-hidden="true"></i>12 8888 6666 </span> <span class="emltp">
  <i class="fa fa-envelope" aria-hidden="true"></i>info@sitename.com </span> </div>
  <div class="right"> <span class="sintp">
  </span> <span class="suptp">
  <div class="social-icons"><a href="#" target="_blank" class="fa fa-facebook fa-1x" title="facebook"></a><a href="#" target="_blank" class="fa fa-twitter fa-1x" title="twitter"></a><a href="#" target="_blank" class="fa fa-google-plus fa-1x" title="google-plus"></a><a href="#" target="_blank" class="fa fa-linkedin fa-1x" title="linkedin"></a><a href="#" target="_blank" class="fa fa-pinterest fa-1x" title="pinterest"></a></div> </span> </div>
  <div class="clear"></div>
  </div>
  </div>
   -->

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> The Natural Way</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 200px"
      >
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Link
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Link</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn search" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
