<div class="mainLong">
  <div class="headerImage"></div>
  <div class="wrapper-list">
    <div class="recipe-container">
      <!-- title require -->

      <div class="title-wrapper">
        <h1 class="title">{{ recipe?.title }}</h1>
      </div>

      <!-- subtitle require -->
      <h3 class="recipe-subtitle">{{ recipe?.subtitle }}</h3>

      <!-- summary -->
      <div *ngIf="recipe?.summary" class="recipe-summary">
        {{ recipe?.summary }}
      </div>

      <div *ngIf="!recipe?.summary">
        <br />
      </div>

      <!-- image  -->
      <div class="recipe-hero">
        <ul
          *ngIf="recipe?.image_recipe && recipe?.image_recipe?.length! > 0"
          class="recipe-image"
        >
          <li *ngFor="let img of recipe?.image_recipe">
            <img [src]="img.image_recipe" alt="Image of a recipe" />
          </li>
        </ul>

        <div class="divider">
          <hr />
          <p>&nbsp;&nbsp;Delete&nbsp;&nbsp;</p>
          <hr />
        </div>
        <br />

        <h3 style="text-align: center; font-style: italic">
          Do you rely want to delete this recipe?
        </h3>
        <div class="buttons">
          <button
            class="button"
            style="margin-bottom: 10px"
            (click)="deleteRecipe()"
          >
            YES
          </button>
            <a class="button" href="javascript:history.back()">Go Back</a>
        </div>
      </div>
    </div>
  </div>
</div>
