<div class="main-long">
  <div class="headerImage"></div>
  <div class="wrapper">
    <form [formGroup]="recipeEdit">
      <div class="title-wrapper">
        <h1 class="title-form">Edit a Recipe</h1>
      </div>
      <!-- Title required-->
      <label for="title"> Title (required): </label>
      <input type="text" id="title" formControlName="title" />

      <div *ngIf="recipeEdit.get('title')?.touched">
        <div
          class="errors"
          *ngIf="recipeEdit.get('title')?.errors?.['required']"
        >
          Please fill in the title!
        </div>
      </div>

      <!-- Subtitle required-->
      <label>
        Subtitle (required):
        <input type="text" id="subtitle" formControlName="subtitle" />
      </label>

      <div *ngIf="recipeEdit.get('subtitle')?.touched">
        <div
          class="errors"
          *ngIf="recipeEdit.get('subtitle')?.errors?.['required']"
        >
          Please fill in a subtitle!
        </div>
      </div>
      <!-- Subtitle -->

      <!-- Description required-->

      <div>
        <label for="description">Method of preparation (required):</label>
        <textarea
          name="text"
          id="description"
          formControlName="description"
          cols="30"
          rows="10"
        ></textarea>
      </div>
      <div *ngIf="recipeEdit.get('description')?.touched">
        <div
          class="errors"
          *ngIf="recipeEdit.get('description')?.errors?.['required']"
        >
          Please fill in the method of preparation!
        </div>
      </div>
      <!-- Description -->

      <!-- Summary -->
      <div>
        <label for="summary">Summary:</label>
        <p class="hint">Recipe summary</p>
        <input type="text" id="summary" formControlName="summary" />
      </div>
      <!-- Summary -->

      <div>
        <!-- Image Upload -->
        <br />
        <app-image-upload (imageUploaded)="addImageToForm($event)" />

        <!-- Image Upload -->

        <!-- Image -->
        <div formArrayName="image_recipe">
          <div
            *ngFor="let image of image_recipe.controls; let i = index"
            [formGroupName]="i"
          >
            <!-- Name required-->
            <label [for]="'image_recipe' + i">Added image</label>
            <p class="hint">You can add more images</p>
            <input
              type="text"
              [id]="'image_recipe' + i"
              formControlName="image_recipe"
            />
            <!-- Image preview -->
            <img
              *ngIf="image_recipe.controls[i].get('image_recipe')?.value"
              [src]="image_recipe.controls[i].get('image_recipe')?.value"
              alt="Image Preview"
              class="image-preview"
            />

            <button
              type="button"
              class="removeIngredient"
              (click)="removeImage(i)"
            >
              <i class="fa-solid fa-trash fa-shake"></i>&nbsp;Remove added image
            </button>
            <br />
            <hr class="hr">
          </div>
        </div>

        <!-- Video -->
        <div formArrayName="video_recipe">
          <div
            *ngFor="let video of video_recipe.controls; let i = index"
            [formGroupName]="i"
          >
            <!-- Name required-->
            <label [for]="'video_recipe' + i">Video</label>
            <input
              type="text"
              [id]="'video_recipe' + i"
              formControlName="video_recipe"
            />

            <!-- Video preview -->
            <div *ngIf="video_recipe.controls[i].get('video_recipe')?.value">
              <iframe
                [src]="
                  video_recipe.controls[i].get('video_recipe')?.value | safeUrl
                "
                width="560"
                height="315"
                frameborder="0"
                allowfullscreen
              ></iframe>
            </div>

            <button
              type="button"
              class="removeIngredient"
              (click)="removeVideo(i)"
            >
              <i class="fa-solid fa-trash fa-shake"></i>&nbsp;Remove the video
              link
            </button>
          </div>
          <button type="button" class="button-img" (click)="addVideo()">
            Add a video link to a recipe
          </button>
        </div>

        <!-- Preparation -->

        <!-- <div
          *ngIf="
            recipe?.preparation_method &&
            recipe?.preparation_method?.length! > 0
          "
          formArrayName="preparation_method"
        >
          <p class="hint">Методите, който вече сте добавили:</p>
          <div
            *ngFor="let method of preparation_method.controls; let i = index"
            [formGroupName]="i"
          >
            <label [for]="'method' + i">Метод</label>
            <input
              type="text"
              [id]="'method' + i"
              formControlName="preparation_method"
            />
            <button type="button" (click)="removePreparation(i)">
              Премахнете метода
            </button>
          </div>
          <button type="button" (click)="addPreparation()">
            Добавете метод на приготвяне
          </button>
        </div> -->
      </div>

      <!-- Ingredients -->

      <div formArrayName="ingredients">
        <div
          *ngFor="let ingredient of ingredients.controls; let i = index"
          [formGroupName]="i"
        >
          <div class="ingredient">
            <div class="divider">
              <hr />
              <p>&nbsp;&nbsp;Съставка&nbsp;&nbsp;</p>
              <hr />
            </div>

            <!-- Name required-->
            <label [for]="'name' + i">Name (required):</label>
            <input type="text" [id]="'name' + i" formControlName="name" />

            <div *ngIf="recipeEdit.get('ingredients.' + i + '.name')?.touched">
              <div
                class="errors"
                *ngIf="recipeEdit.get('ingredients.' + i + '.name')?.errors?.['required']"
              >
                Please enter an ingredient name!
              </div>
            </div>

            <!-- Amount required-->
            <label [for]="'amount' + i">Quantity (required):</label>
            <input type="number" [id]="'amount' + i" formControlName="amount" />

            <div
              *ngIf="recipeEdit.get('ingredients.' + i + '.amount')?.touched"
            >
              <div
                class="errors"
                *ngIf="recipeEdit.get('ingredients.' + i + '.amount')?.errors?.['required']"
              >
                Please fill in the quantity of the ingredient!
              </div>
            </div>

            <!-- Unit required-->
            <label [for]="'unit' + i">Unit of measurement (required):</label>
            <p class="hint">In which we measure the ingredient</p>
            <select [id]="'unit' + i" formControlName="unit">
              <option value="ts.">Tea spoon</option>
              <option value="tbs.">Tablespoon</option>
              <option value="tc.">Tea cup</option>
              <option value="cc.">Coffee cup</option>
              <option value="gr.">Gram</option>
              <option value="kg.">Kilogram</option>
              <option value="ml.">Milliliter</option>
              <option value="l.">Liter</option>
              <option value="pieces">Pieces</option>
            </select>

            <div *ngIf="recipeEdit.get('ingredients.' + i + '.unit')?.touched">
              <div
                class="errors"
                *ngIf="recipeEdit.get('ingredients.' + i + '.unit')?.errors?.['required']"
              >
                Please select a unit of measurement!
              </div>
            </div>

            <!-- Order Index -->

            <label [for]="'order_index' + i">Order index:</label>
            <p class="hint">
              The order in which the ingredients appear in the recipe
            </p>
            <input
              type="number"
              [id]="'order_index' + i"
              formControlName="order_index"
            />

            <!-- Add a button to remove the ingredient -->
            <button
              class="removeIngredient"
              type="button"
              (click)="removeIngredient(i)"
            >
              <i class="fa-solid fa-trash fa-shake"></i>&nbsp;Remove the
              ingredient
            </button>

            <hr class="hr" />
          </div>
        </div>
      </div>
      <br />

      <!-- Add button to add new ingredient -->
      <button type="button-img" class="addIngredient" (click)="addIngredient()">
        <i class="fa-solid fa-plus fa-beat-fade"></i>
        Add one more ingredient
      </button>

      <!-- Submit button -->
      <button
        type="button"
        class="button"
        style="width: 100%"
        (click)="onSubmit()"
      >
        Save the changes
      </button>
    </form>
  </div>
</div>
