<div class="main-short">
  <div class="headerImage"></div>
  <div class="wrapper">
    <div class="form-wrapper">
      <div class="title-wrapper">
        <h1 class="title-form">Contact Us</h1>
      </div>
      <div style="color: var(--mainGreyColor)">
        <p>
          For any inquiries or questions, please feel free to contact us. We're
          here to help!
        </p>
        <div>
          <p><strong>Address:</strong> San Stefano , Burgas, Bulgaria</p>
          <p><strong>Phone:</strong> +359 885 996789</p>
          <p>
            <strong>Email:</strong>
            <a href="mailto:andon.ov@yahoo.com"> Andon.ov@yahoo.com</a>
          </p>
        </div>
        <hr />
        <div>
          <p>
            This project was developed to meet the requirements of the Angular
            Project Assignment within the 'Angular - February 2024' course at
            SoftUni.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
