<nav class="navbar navbar-dark navbar-expand-lg">
  <div class="container-fluid">
    <div class="header-wrapper">
      <!-- Hamburger button -->
      <button
        class="navbar-toggler hamburger"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarScroll"
        aria-controls="navbarScroll"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span>
          <!-- <i class="fa-solid fa-burger fa-beat-fade"></i> -->
          <!-- <span class="navbar-toggler-icon"></span> -->
          <i class="fa-solid fa-bars fa-beat-fade"></i>
        </span>
      </button>

      <!-- Logo -->
      <a class="navbar-brand" href="#">
        <svg
          viewBox="0 0 200.92045542674032 200.92045542674032"
          height="50"
          width="50"
          class="svg-logo"
        >
          <g>
            <path
              d="M0 100.46c0-55.483 44.978-100.46 100.46-100.46 55.483 0 100.46 44.978 100.46 100.46 0 55.483-44.978 100.46-100.46 100.46-55.483 0-100.46-44.978-100.46-100.46zM100.46 193.437c51.35 0 92.977-41.627 92.977-92.977 0-51.35-41.627-92.977-92.977-92.977-51.35 0-92.977 41.627-92.977 92.977 0 51.35 41.627 92.977 92.977 92.977z"
              data-fill-palette-color="accent"
              fill="var(--aliceBlueColor)"
              stroke="transparent"
            ></path>
            <ellipse
              rx="99.45562543623646"
              ry="99.45562543623646"
              cx="100.46022771337016"
              cy="100.46022771337016"
              fill="var(--mainRGBAColor)"
              stroke="transparent"
              stroke-width="0"
              fill-opacity="1"
              data-fill-palette-color="accent"
            ></ellipse>
          </g>
          <g transform="matrix(1,0,0,1,43.57436241056036,43.35758026693677)">
            <svg
              viewBox="0 0 113.7717306056196 114.20529489286677"
              height="114.20529489286677"
              width="113.7717306056196"
            >
              <g>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  data-name="Layer 1"
                  viewBox="1.190000057220459 1.002901315689087 97.62506866455078 97.99710083007812"
                  x="0"
                  y="0"
                  height="114.20529489286677"
                  width="113.7717306056196"
                  class="icon-b-0"
                  data-fill-palette-color="quaternary"
                  id="b-0"
                >
                  <path
                    d="M79.28 26.63a0.3 0.3 0 0 0 0-0.07 0.28 0.28 0 0 0-0.48-0.19l-7 7a20.24 20.24 0 0 0-6 13v1.87a37.5 37.5 0 0 1 1.67 5.15H54.79a32.9 32.9 0 0 0-5.43-15.13 26.9 26.9 0 0 1-7.74 5.77 22.2 22.2 0 0 1-6.34 2.06c-9.9 1.51-22.3-5-28.35-41.61a1.86 1.86 0 0 1 1.55-2.05c47.44-6.69 50.2 11.7 47.85 22.85a51.5 51.5 0 0 0-19.69-6.14h-0.11a0.43 0.43 0 0 0-0.18 0.76l11.58 8.5 5.84 4.31a37.3 37.3 0 0 1 6.08 5.85 24.8 24.8 0 0 1 5-6.15 17.7 17.7 0 0 1-2.54-5 14.8 14.8 0 0 1-0.65-4.41c0-6.65 5.53-14.14 30.18-14.44a1.23 1.23 0 0 1 1.24 1.23c-0.38 31.82-12.74 31.78-19.82 29.12a34.2 34.2 0 0 0 6.02-12.28M28.65 93h34.63a16.16 16.16 0 0 0 12.18-5.54l21.68-24.79a6.79 6.79 0 0 0-0.79-9.7 6.55 6.55 0 0 0-4.2-1.49 7.24 7.24 0 0 0-5.38 2.43l-10.2 11.35v0.16a11.85 11.85 0 0 1-11.89 11.26H52.21a2.54 2.54 0 1 1 0-5.08h12.47a6.72 6.72 0 0 0 6.81-6.34A6.54 6.54 0 0 0 65 58.52H44.19l-3.37-1.18a23.42 23.42 0 0 0-24.26 5.49L1.19 78.1 22.64 99Z"
                    fill="var(--aliceBlueColor)"
                    data-fill-palette-color="quaternary"
                  ></path>
                </svg>
              </g>
            </svg>
          </g>
        </svg>
        <span class="logoText"> The Natural Way </span></a
      >
    </div>

    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"

      >
        <!-- Recipe Menu -->

        <li class="nav-item">
          <a
            routerLink="/recipes-list"
            class="nav-btn nav-link button"
            href="#"
            role="button"
            aria-expanded="false"
          >
            Recipes
          </a>
        </li>

        <!-- User Menu -->
        <li class="nav-item dropdown" *ngIf="!userData">
          <a
            class="nav-btn nav-link dropdown-toggle button"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-solid fa-user"></i>
          </a>

          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/register">Register</a>
            </li>
            <li><a class="dropdown-item" routerLink="/login">Login</a></li>

            <li>
              <hr class="dropdown-divider"/>
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown" *ngIf="userData">
          <a
            class="nav-btn nav-link dropdown-toggle button"

            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span>{{ getUserDisplayName() }}</span>
          </a>

          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                routerLink="/dashboard/user-recipes"
                href="#"
              >My recipes</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/dashboard/recipe-create"
              >Create recipe</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/dashboard/user-favorite-recipes"
                href="#"
              >Favorite recipes</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/dashboard/user-comments"
                href="#"
              >My comments</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/dashboard/user-info"
              >Profile</a
              >
            </li>
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </li>

        <!-- Search Menu -->
        <li class="nav-item dropdown">
          <a
            class="nav-btn nav-link dropdown-toggle button"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-solid fa-magnifying-glass"></i>
          </a>
          <ul class="dropdown-menu search">
            <form
              class="d-flex w-100"
              role="search"
              [formGroup]="searchForm"
              (ngSubmit)="onSubmit()"
            >
              <input
                class="form-control me-2"
                type="search"
                aria-label="Search"
                formControlName="search"
                required
                minlength="3"
              />

              <div *ngIf="searchForm.get('search')?.touched">
                <div
                  class="errors"
                  *ngIf="searchForm.get('search')?.errors?.['required']"
                >
                  What are you searching for?
                </div>

                <div
                  class="errors"
                  *ngIf="searchForm.get('search')?.errors?.['minlength']"
                >
                  Min length is a 3 char!
                </div>
              </div>

              <button class="search button" type="submit">Search</button>
            </form>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
