    <!-- nav-tabs profile -->
    <ul class="nav nav-tabs">



        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/dashboard/user-recipes" href="#">My recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/recipe-create" aria-current="page" href="#">Recipe create</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="#">Favorite recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-current="page" href="#">My comments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="/dashboard/user-info"  href="#">Profile</a>
        </li>
      
  
        
      
  
      </ul>
      <!-- nav-tabs profile  -->
  
  
      <router-outlet></router-outlet>