<div *ngIf="!result; else recipesList">
  <main class="main-short">
    <div class="headerImage"></div>
    <div class="wrapper">
      <div class="empty">
        <div class="title-wrapper">
          
          <h1 class="title">
            We're sorry, but we couldn't find the result you're looking for!
          </h1>
        </div>

        <div class="logo-svg">
          <app-logo-svg />
        </div>

      </div>
    </div>
  </main>
</div>

<ng-template #recipesList>
  <main class="main-long">
    <div class="headerImage"></div>
    <div class="wrapper-list">
      <div class="title-wrapper">
        <h1 class="title">Result</h1>
      </div>

      <div class="recipe-list">
        <div *ngFor="let recipe of recipes">
          <a [routerLink]="['/recipe', recipe.id]">
            <div class="recipe-item">
              <div class="recipe-image">
                <img
                  [src]="recipe!.image_recipe[0]!.image_recipe"
                  alt="{{ recipe.title }}"
                />
              </div>
              <p class="recipe-title">{{ recipe.title }}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </main>
</ng-template>
