<main class="main-long">
  <div class="headerImage"></div>
  <div class="wrapper-list">
    <div style="text-align: center" class="header-wrapper">
      <h1 style="font-size: 36px; line-height: 1.2" class="title">Recipes</h1>
      <p>Explore our herbal recipes for vitality and well-being.</p>
    </div>

    <div class="recipe-list">



      <div *ngFor="let recipe of recipes">
        <a *ngIf="recipe.public" [routerLink]="['/recipe', recipe.id]">
          <div class="recipe-item">
            <div class="recipe-image">
              <img
                [src]="recipe!.image_recipe[0]!.image_recipe"
                alt="{{ recipe.title }}"
              />
            </div>
            <p class="recipe-title">{{ recipe.title }}</p>
          </div>
        </a>
      </div>



      
    </div>

    <div *ngIf="showLoadMoreButton; else allRecipesShown">
      <button (click)="getRecipesLoadMore()" class="button-img">
        Load More
      </button>
    </div>

    <ng-template #allRecipesShown>
      <p>
        <i> All recipes are now displayed! </i>
      </p>
    </ng-template>
  </div>
</main>
