<nav class="navbar navbar-dark navbar-expand-lg">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="#"> The Natural Way</a>

    <!-- Hamburger button -->
    <button class="navbar-toggler button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 350px">
        <!-- Recipe Menu -->

        <li class="nav-item dropdown">
          <a class="nav-btn nav-link dropdown-toggle button" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Recipes
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#" routerLink="/recipes-list">Recipes list</a>
            </li>
           

            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>

        <!-- User Menu -->
        <li class="nav-item dropdown" *ngIf="!userData">
          <a class="nav-btn nav-link dropdown-toggle button" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa-solid fa-user"></i>
          </a>

          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/register">Register</a>
            </li>
            <li><a class="dropdown-item" routerLink="/login">Login</a></li>

            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown" *ngIf="userData">
          <a class="nav-btn nav-link dropdown-toggle button" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span>{{ getUserDisplayName() }}</span>
          </a>

          <ul class="dropdown-menu">
            
            <li><a class="dropdown-item" href="#">My recipes</a></li>
            <li>
              <a class="dropdown-item" routerLink="/recipe-create">Recipe create</a>
            </li>
            <li><a class="dropdown-item" href="#">Favorite recipes</a></li>
            <li><a class="dropdown-item" href="#">My comments</a></li>
            <li>
              <a class="dropdown-item" routerLink="/dashboard">Profile</a>
            </li>
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </li>

        <!-- Search Menu -->
        <li class="nav-item dropdown">
          <a class="nav-btn nav-link dropdown-toggle button" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa-solid fa-magnifying-glass"></i>
          </a>
          <ul class="dropdown-menu search">
            <form class="d-flex w-100" role="search">
              <input class="form-control me-2" type="search" aria-label="Search" />
              <!-- placeholder="Search" -->
              <button class="search button" type="submit">Search</button>
            </form>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>