<nav class="navbar navbar-dark navbar-expand-lg">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="#"> The Natural Way</a>

    <!-- Hamburger button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 350px"
      >
        <li class="nav-item">
          <a class="nav-btn nav-link active" aria-current="page" href="#"
            >Home</a
          >
        </li>

        <!-- Recipe Menu -->

        <li class="nav-item dropdown">
          <a
            class="nav-btn nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Recipes
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/recipes-list"
                >Recipes list</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/recipe-create"
                >Recipe create</a
              >
            </li>

            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>

        <!-- User Menu -->
        <li class="nav-item dropdown">
          <a
            class="nav-btn nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-solid fa-user"></i>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/register">Register</a>
            </li>
            <li><a class="dropdown-item" routerLink="/login">Login</a></li>

            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>

        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" aria-label="Search" />
          <!-- placeholder="Search" -->
          <button class="btn search" type="submit">Search</button>
        </form>
      </ul>
    </div>
  </div>
</nav>
