nav.navbar {
  min-height: 8vh;
  background-color: var(--aliceBlueColor);
  box-shadow: 1px 5px 15px 0px rgba(167, 87, 94, 1);
}

.container-fluid {
  max-width: 1024px;
  color: var(--textColor);
}

a.navbar-brand {
  display: flex;
  gap: 10px;
  /* font-family: "Dancing Script", cursive; */
  font-family: "Caveat", cursive;
  font-weight: 400;
  font-size: 32px;
  color: var(--textColor);
}

button.navbar-toggler {
  background-color: var(--textColor);
  border: 1px solid var(--backgroundColor);
}

.navbar-toggler span.navbar-toggler-icon {
  color: var(--backgroundColor);
  background-color: var(--textColor);
}

button.navbar-toggler:focus {
  box-shadow: 0 0 0 0.25rem var(--textColor);
}

ul.navbar-nav {
  position: relative;
  z-index: 100;

  display: flex;
  gap: 18px;
  width: 100%;
  justify-content: flex-end;
}

a.nav-btn.nav-link.dropdown-toggle.button {
  min-width: 150px;
}

ul.navbar-nav ul.dropdown-menu {
  background-color: var(--backgroundColor);
  border: 1px solid var(--textColor);
  margin-top: 18px;
}


a.dropdown-item {
  color: var(--textColor);
}

.dropdown-item.active,
.dropdown-item:hover,
.dropdown-item:focus {
  background-color: var(--textColor);
  color: var(--backgroundColor);
}


form.d-flex {
  padding: 0 auto;
}

.form-control {
  border: 1px solid var(--textColor);
  border-radius: 8px;
  background-color: var(--backgroundColor);
}

.form-control:focus {
  border: 1px solid var(--textColor);
  box-shadow: unset;
  outline: unset;
  background-color: #f6f4f9;
  border-color: var(--textColor);
}

@media (max-width: 460px) {
  .navbar-nav.me-auto.my-2.my-lg-0.navbar-nav-scroll {
    background-color: var(--backgroundColor);
    padding: 20px;
    border-radius: 8px;
  }

  .navbar-nav .dropdown-menu.search {
    border: unset;
    width: 100%;
  }

  form.d-flex {
    flex-direction: column;
    gap: 15px;
  }
}

@media (min-width: 461px) and (max-width: 767px) {
  .navbar-nav.me-auto.my-2.my-lg-0.navbar-nav-scroll {
    background-color: var(--backgroundColor);
    padding: 20px;
    border-radius: 8px;
  }

  .navbar-nav .dropdown-menu.search {
    border: unset;
    width: 100%;

  }

  .dropdown-menu.search.show form {
    max-width: unset;
  }

}

@media (min-width: 768px) and (max-width: 1023px) {
  .navbar-nav.me-auto.my-2.my-lg-0.navbar-nav-scroll {
    /* background-color: var(--backgroundColor); */
    padding: 20px;
    border-radius: 8px;
  }

  .navbar-nav .dropdown-menu.search {
    border: unset;
  }

  .dropdown-menu.search.show form {
    max-width: unset;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .navbar-nav .dropdown-menu.search {
    left: unset;
    right: 0;
    width: 1000px;
    padding: 10px;
    margin-top: 30px;
    border: unset;
  }

  form {
    max-width: unset;
  }

  .container-fluid {
    padding: unset;
    max-width: 1200px;
    padding: 0 1%;
    color: var(--textColor);
  }
}

@media (min-width: 1441px) {
  .navbar-nav .dropdown-menu.search {
    left: unset;
    right: 0;
    width: 1000px;
    padding: 10px;
    margin-top: 30px;
    border: unset;
  }

  form {
    max-width: unset;
  }

.container-fluid {
  padding: unset;
  max-width: 1200px;
  color: var(--textColor);
}
}
