nav.navbar {
  min-height: 7vh;
  background-color: var(--aliceBlueColor);
  box-shadow: 1px 5px 15px 0 var(--mainRGBAColor);
}

.container-fluid {
  max-width: 1024px;
}

a.navbar-brand {
  display: flex;
  gap: 10px;
  font-family: "Caveat", cursive;
  font-weight: 400;
  font-size: 32px;
  color: var(--textColor);
}

.header-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.hamburger span i {
  padding: 4px 2px;
}

.hamburger:hover {
  transform: rotate(180deg);
  transition: .5s ease-in-out;
  box-shadow: 1px 1px 15px 0 var(--textColor);
}

button.navbar-toggler {
  background-color: var(--textColor);
  border: 1px solid var(--backgroundColor);
}

ul.navbar-nav {
  position: relative;
  display: flex;
  gap: 18px;
  width: 100%;
  justify-content: flex-end;
}

.navigation {
  color: var(--textColor);
}

ul.navbar-nav ul.dropdown-menu {
  background-color: var(--backgroundColor);
  margin-top: 18px;
}

a.dropdown-item {
  color: var(--textColor);
}

.dropdown-item.active,
.dropdown-item:hover,
.dropdown-item:focus {
  background-color: var(--textColor);
  color: var(--backgroundColor);
}


form {
  max-width: unset;
}

.form-control {
  border: 1px solid var(--textColor);
  border-radius: 8px;
  background-color: var(--backgroundColor);
}

.form-control:focus {
  box-shadow: unset;
  background-color: var(--mainMagnoliaColor);
}


@media (max-width: 991px){

  .container-fluid {
    justify-content: space-evenly;
  }

  .svg-logo {
    display: none;
  }

  .navbar-nav.me-auto.my-2.my-lg-0.navbar-nav-scroll {
    background-color: var(--backgroundColor);
    padding: 20px;
    border-radius: 8px;
  }

  .navbar-nav .dropdown-menu.search {
    border: unset;
    width: 100%;
  }

  form.d-flex {
    flex-direction: column;
    gap: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1440px) {
  .navbar-nav .dropdown-menu.search {
    left: unset;
    right: 0;
    width: 900px;
    padding: 10px;
    margin-top: 30px;
    border: unset;
  }

  form {
    max-width: unset;
  }

  .container-fluid {
    max-width: 1200px;
    padding: 0 3%;
    color: var(--textColor);
  }
}

@media (min-width: 1441px) {
  .navbar-nav .dropdown-menu.search {
    left: unset;
    right: 0;
    width: 1000px;
    padding: 10px;
    margin-top: 30px;
    border: unset;
  }

  form {
    max-width: unset;
  }

  .container-fluid {
    padding: unset;
    max-width: 1200px;
    color: var(--textColor);
  }
}
