<main
  class="main"
  [ngClass]="{
    'main-short': recipes.length === 0,
    'main-long': recipes.length > 0
  }"
>
  <div class="headerImage"></div>
  <div class="wrapper" *ngIf="recipes.length >= 0">
    <div class="empty" *ngIf="recipes.length === 0 && !isLoadingComments">
      <div class="title-wrapper">
        <h1 class="title">No favorite recipes yet!</h1>
      </div>
      <div class="logo-svg">
        <app-logo-svg />
      </div>

      <div class="emptyInfo">
        <p>You can view our recipe and save your favorite &nbsp;&nbsp;</p>
        <a
          routerLink="/recipes-list"
          class="btn btn-outline-light"
          style="color: var(--textColor)"
          href=""
          >Recipes</a
        >
      </div>
    </div>

    <div class="empty" *ngIf="isLoadingComments">
      <div class="loader"></div>
    </div>

    <div *ngIf="recipes.length > 0 && !isLoadingComments" class="wrapper-list">
      <div *ngIf="userData" class="title-wrapper">
        <h1 class="title">
          {{ userData.firstName + " " + userData.lastName }} favorite recipes
        </h1>
      </div>

      <div class="recipe-list" >
        <div  class="recipe-list-wrapper" *ngFor="let recipe of recipes">
          <div
            (click)="updateFavoriteRecipes(recipe.id)"
            class="removeIngredientWrapper"
          >
            <button type="button" class="removeIngredient">
              <i class="fa-solid fa-xmark fa-beat-fade"></i>
            </button>
          </div>

          <a [routerLink]="['/recipe', recipe.id]">
            <div class="recipe-item">
              <div class="recipe-image">
                <img
                  [src]="recipe!.image_recipe[0]!.image_recipe"
                  alt="{{ recipe.title }}"
                />
              </div>
              <p class="recipe-title">{{ recipe.title }}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
