<div
  *ngIf="userData && userData.favoriteRecipes.length === 0; else recipesList"
>
  <main class="main-short">
    <div class="headerImage"></div>
    <div class="wrapper">
      <div class="empty">
        <div class="title-wrapper">
          <h1 class="title">No favorite recipes yet!</h1>
        </div>

        <div class="logo-svg">
          <app-logo-svg />
        </div>

        <div class="emptyInfo">
          <p>You can view our recipe and save your favorite &nbsp;&nbsp;</p>
          <a routerLink="/recipes-list" class="button" href="">Recipes</a>
        </div>
      </div>
    </div>
  </main>
</div>

<ng-template #recipesList>
  <main class="main-long">
    <div class="headerImage"></div>
    <div class="wrapper-list">
      <div class="title-wrapper">
        <h1 *ngIf="userData" class="title">
          {{ userData.firstName + " " + userData.lastName }} favorite recipes
        </h1>
      </div>

      <div class="recipe-list">
        <div *ngFor="let recipe of recipes">
          <button (click)="updateFavoriteRecipes(recipe.id)" class="button">
            <i class="fa-solid fa-trash"></i>
          </button>
          <a [routerLink]="['/recipe', recipe.id]">
            <div class="recipe-item">
              <div class="recipe-image">
                <img
                  [src]="recipe!.image_recipe[0]!.image_recipe"
                  alt="{{ recipe.title }}"
                />
              </div>
              <p class="recipe-title">{{ recipe.title }}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </main>
</ng-template>

<!--

    <main class="main-long">
    <div class="headerImage"></div>
    <div class="wrapper-list">
      <div class="title-wrapper">
        <h1 class="title">Recipes by {{ userData.firstName + " " + userData.lastName }}</h1>
      </div>


      <div class="recipe-list">
        <div *ngFor="let recipe of recipes">
          <a [routerLink]="['/recipe', recipe.id]">
            <div class="recipe-item">
              <div class="recipe-image">
                <img
                  [src]="recipe!.image_recipe[0]!.image_recipe"
                  alt="{{ recipe.title }}"
                />
              </div>
              <p class="recipe-title">{{ recipe.title }}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </main>

   -->
