.footer {
  background-color: var(--aliceBlueColor);
  padding: 20px;
  color: #333;
  font-size: 14px;
  text-align: center;
}

.footer-links {
  padding: 20px 0;
}

.footer-links a {
  color: #666;
  text-decoration: none;
  margin: 0 10px;
}

.footer-links a:hover {
  color: var(--mainBlackColor);
}

.social-icons a {
  color: #666;
  text-decoration: none;
  margin: 0 10px;
}

.social-icons a:hover {
  color: #3b5998;
}

.copyright {
  margin-top: 20px;
  font-size: 12px;
  color: #999;
}

.projectInfo {
  margin-bottom: 10px;
}
