<footer class="footer" appAnimateOnScroll [animationClass]="'fade-in-top'">
  <div class="footer-main">
    <div class="footer-links">
      <a routerLink="/about">About Us</a> |
      <a routerLink="/contact">Contact Us</a> |
      <a routerLink="/privacy-policy">Privacy Policy</a>
    </div>
    <div class="social-icons">
      <a href="https://github.com/andon-ov" target="_blank"
        ><i class="fa-brands fa-github"></i>
      </a>
      <a href="https://linkedin.com/in/andon-ov" target="_blank"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
    </div>
  </div>
  <div class="copyright">
    <div class="projectInfo">
      This project was developed to meet the requirements of the Angular Project
      Assignment within the 'Angular - February 2024' course at
      <a target="_blank" href="https://softuni.bg/">SoftUni</a>.
    </div>
    <span> &copy; 2024 The Natural Way. All Rights Reserved. </span>
  </div>
</footer>
