<footer class="footer">
  <div class="footer-links">
    <a routerLink="/about" >About Us</a> | 
    <a routerLink="/contact">Contact Us</a> |
    <a routerLink="/privacy-policy">Privacy Policy</a>
  </div>
  <div class="social-icons">
    <a href="https://www.facebook.com"
      ><i class="fa-brands fa-facebook fa-flip"></i
    ></a>
    <a href="https://www.twitter.com"
      ><i class="fa-brands fa-x-twitter fa-flip"></i
    ></a>
    <a href="https://www.instagram.com"
      ><i class="fa-brands fa-instagram fa-flip"></i
    ></a>
  </div>
  <div class="copyright">
    <div class="projectInfo">
      This project was developed to meet the requirements of the Angular Project
      Assignment within the 'Angular - February 2024' course at SoftUni.
    </div>
    <span> &copy; 2024 The Natural Way. All Rights Reserved. </span>
  </div>
</footer>
