.footer {
  background-color: var(--aliceBlueColor);
  color: #333;
  font-size: 14px;
  text-align: center;
}

.footer-main {
  background-color: var(--textColor);
  color: var(--mainWhiteColor);
  padding: 20px;
}

.footer-links {
  padding: 20px 0;
  text-align: center;
}

.footer-links a {
  color: var(--mainWhiteColor);
  text-decoration: none;
  margin: 0 10px;
}

.footer-links a:hover {
  color: var(--mainBlackColor);
}

.social-icons a {
  color: var(--mainYellowColor);
  text-decoration: none;
  margin: 0 10px;
  font-size: 22px;
}

.social-icons a i:hover {
  transform: scale(1.3);
  transition: 0.3s ease-in-out;
}

.copyright {
  padding: 20px;
  font-size: 12px;
  color: #999;
}

.projectInfo {
  margin-bottom: 10px;
}