<div class="main-long">
  <div class="headerImage"></div>
  <div class="wrapper">
    <form [formGroup]="recipeForm">
      <div class="title-wrapper">
        <h1 class="title add-recipe">Add a Recipe</h1>
      </div>
      <h4 class="subtitle">
        Uploading personal recipes is easy! Add yours to your favorites, share
        with friends, family, or the our community.
      </h4>

      <!-- Title required-->
      <label>
        Recipe Title
        <input type="text" id="title" formControlName="title"/>
      </label>

      <div *ngIf="recipeForm.get('title')?.touched">
        <div
          class="errors"
          *ngIf="recipeForm.get('title')?.errors?.['required']"
        >
          Please fill in the title!
        </div>
      </div>
      <!-- Title -->

      <!-- Subtitle required-->
      <label>
        Subtitle
        <input type="text" id="subtitle" formControlName="subtitle"/>
      </label>

      <div *ngIf="recipeForm.get('subtitle')?.touched">
        <div
          class="errors"
          *ngIf="recipeForm.get('subtitle')?.errors?.['required']"
        >
          Please fill in a subtitle!
        </div>
      </div>
      <!-- Subtitle -->

      <!-- Description required-->

      <div>
        <label for="description">Method of preparation</label>
        <p class="hint">Explain how to make your recipe</p>
        <textarea
          name="text"
          id="description"
          formControlName="description"
          cols="30"
          rows="5"
        ></textarea>
      </div>
      <div *ngIf="recipeForm.get('description')?.touched">
        <div
          class="errors"
          *ngIf="recipeForm.get('description')?.errors?.['required']"
        >
          Please fill in the method of preparation!
        </div>
      </div>
      <!-- Description -->

      <!-- Summary -->
      <div>
        <label for="summary">Summary (optional):</label>
        <p class="hint">Add any helpful tips about ingredient substitutions, serving, or storage here.
        </p>
        <input type="text" id="summary" formControlName="summary"/>
      </div>
      <!-- Summary -->

      <div class="img-video">
        <!-- Image Upload -->
        <br/>
        <app-image-upload *ngIf="image_recipe.length == 0" (imageUploaded)="addImageToForm($event)"/>

        <!-- Image Upload -->

        <!-- Image -->
        <div formArrayName="image_recipe">
          <div
            *ngFor="let image of image_recipe.controls; let i = index"
            [formGroupName]="i"
          >
            <label for="summary">Images:</label>
            <p class="hint">Added image</p>
            <div class="input-flex">
              <input
                type="text"
                id="image_recipe"
                formControlName="image_recipe"
              />
              <button
                class="removeInput"
                type="button"
                (click)="removeImage(i)"
              >
                <i class="fa-solid fa-xmark fa-beat-fade"></i>
              </button>
            </div>


            <!-- Image preview -->
            <img
              *ngIf="image_recipe.controls[i].get('image_recipe')?.value"
              [src]="image_recipe.controls[i].get('image_recipe')?.value"
              alt="Image Preview"
              class="image-preview"
            />
            <br/>

            <br/>
          </div>
        </div>
        <!-- Image -->

        <!-- Video -->
        <div formArrayName="video_recipe">
          <div
            *ngFor="let video of video_recipe.controls; let i = index"
            [formGroupName]="i"
          >
            <label for="summary">Video:</label>
            <p class="hint">Add youtube video link here</p>
            <div class="input-flex">

              <input
                type="text"
                id="video_recipe"
                formControlName="video_recipe"
                placeholder="Paste the video link here"
              />
              <button
                class="removeInput"
                type="button"
                (click)="removeVideo(i)"
              >
                <i class="fa-solid fa-xmark fa-beat-fade"></i>
              </button>
            </div>
          </div>
          <button class="button-img" type="button" (click)="addVideo()">
            <i class="fa-solid fa-plus fa-beat-fade"></i>
            Add a video link (optional)
          </button>
        </div>
        <!-- Video -->
      </div>

      <div class="ingredients" formArrayName="ingredients">
        <div
          *ngFor="let ingredient of ingredients.controls; let i = index"
          [formGroupName]="i"
        >
          <div class="ingredient">
            <!-- Ingredient -->

            <div class="divider">
              <hr/>
              <p>&nbsp;&nbsp;Ingredient&nbsp;{{ i + 1 }}&nbsp;</p>

              <hr/>
            </div>

            <button
              class="removeIngredient"
              type="button"
              (click)="removeIngredient(i)"
            >
              <i class="fa-solid fa-xmark fa-beat-fade"></i>

            </button>

            <!-- Name required-->

            <label for="name">Name</label>
            <input type="text" id="name" formControlName="name"/>

            <div *ngIf="recipeForm.get('ingredients.' + i + '.name')?.touched">
              <div
                class="errors"
                *ngIf="recipeForm.get('ingredients.' + i + '.name')?.errors?.['required']"
              >
                Please enter an ingredient name!
              </div>
            </div>


            <div class="quantity-unit-index-wrapper">
              <div class="quantity">
                <!-- Amount required-->

                <label for="amount">Quantity</label>
                <input type="number" id="amount" formControlName="amount"/>
              </div>

              <div class="unit">
                <!-- Unit required-->

                <label for="ingredient_unit">Unit&nbsp;*</label>

                <select id="ingredient_unit" formControlName="unit">

                  <option value="" disabled selected hidden>Please Choose...</option>
                  <option value="ts.">Tea spoon</option>
                  <option value="tbs.">Tablespoon</option>
                  <option value="tc.">Tea cup</option>
                  <option value="cc.">Coffee cup</option>
                  <option value="gr.">Gram</option>
                  <option value="kg.">Kilogram</option>
                  <option value="ml.">Milliliter</option>
                  <option value="l.">Liter</option>
                  <option value="pieces">Pieces</option>
                </select>
              </div>

              <div class="order-index">
                <!-- I can hide the order index - when the user needs it, he can press the "Show order index" button -->
                <!-- Order Index -->

                <label for="ingredient_order_index">Order&nbsp;**</label>

                <input
                  type="number"
                  id="ingredient_order_index"
                  formControlName="order_index"
                />
              </div>
            </div>
            <p class="hint">* In which we measure the ingredient</p>
            <p class="hint">
              ** The order in which the ingredients appear in the recipe
            </p>

            <div
              *ngIf="recipeForm.get('ingredients.' + i + '.amount')?.touched"
            >
              <div
                class="errors"
                *ngIf="recipeForm.get('ingredients.' + i + '.amount')?.errors?.['required']"
              >
                Please fill in the quantity of the ingredient!
              </div>
            </div>

            <div *ngIf="recipeForm.get('ingredients.' + i + '.unit')?.touched">
              <div
                class="errors"
                *ngIf="recipeForm.get('ingredients.' + i + '.unit')?.errors?.['required']"
              >
                Please select a unit of measurement!
              </div>
            </div>

            <!-- Add a button to remove the ingredient -->
          </div>
        </div>
      </div>


      <button type="button" class="button-img" (click)="addIngredient()">
        <i class="fa-solid fa-plus fa-beat-fade"></i>
        Add one more ingredient
      </button>
      <button
        type="button"
        style="width: 100%"
        class="button"
        (click)="onSubmit()"
      >
        Submit Recipe
      </button>
      <!-- <a class="backBtn" href="javascript:history.back()"
        ><i class="fa-solid fa-backward fa-beat-fade"></i>&nbsp;&nbsp;Go back</a
      > -->

    </form>
  </div>
</div>

<!-- <label>
  <span class="hint">Description</span>
  <editor class="tiny" formControlName="description" [init]="editorConfig">
  </editor>
</label> -->
