<main class="main-long">
  <div class="wrapper">
    <h2 class="title">Create recipe</h2>
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <label>
        Title (required):
        <input type="text" formControlName="title" required />
      </label>

      <div *ngIf="recipeForm.get('title')?.touched">
        <div
          class="errors"
          *ngIf="recipeForm.get('title')?.errors?.['required']"
        >
          Please fill in the title!
        </div>
      </div>

      <label>
        Subtitle:
        <textarea
          cols="30"
          rows="3"
          formControlName="subtitle"
          required
        ></textarea>
        <!-- <input type="text" formControlName="subtitle" required /> -->
      </label>

     

      <label>
        
        <span class="hint">Description (required):</span>
        <editor class="tiny" formControlName="description" [init]="editorConfig">
        </editor>

      </label>

      <div *ngIf="recipeForm.get('description')?.touched">
        <div
          class="errors"
          *ngIf="recipeForm.get('description')?.errors?.['required']"
        >
          Please fill in the description!
        </div>
      </div>

      <!-- Image Upload -->
      <app-image-upload (imageUploaded)="addImageToForm($event)" />

      <div *ngIf="recipeForm.get('image')?.value !== ''">
        <p class="hint">You added a photo</p>
        <!-- <label for="image">Upload image</label> -->
        <input type="text" id="image" formControlName="image" />
        <button type="button"  (click)="removeImage()">
          Remove added photo
        </button>
      </div>

      <!-- Image -->

      <button class="button" type="submit">Add Recipe</button>

      <a class="backBtn button" href="javascript:history.back()"
        ><i class="fa-solid fa-backward fa-beat-fade"></i>&nbsp;&nbsp;Back</a
      >
    </form>
  </div>
</main>
