.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 15;
  outline: 0;
  padding: 50px;
}

.modal-content{
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--textColor);
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: block;
  background-color: var(--backgroundColor);
  }

.modal-body{
  white-space: pre-wrap;
}
