.buttons {
  display: flex;
  gap: 10px;
  position: fixed;
  bottom: 120px;
  right: 10px;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

/* .to-top {
  background-color: var(--mainRGBAColor);
  background-color: var(--mainYellowColor);
  color: var(--backgroundColor);
  color: var(--textColor);
  border: 3px solid var(--backgroundColor);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

/* button:hover {
  color: var(--textColor);
  background-color: var(--backgroundColor);
  color: var(--mainYellowColor);
  background-color: var(--textColor);
  box-shadow: 0 0 15px 0 var(--textColor);
} */

button:focus {
  outline: none;
}

/* Hide the button initially */
button.ng-hidden {
  display: none;
}