<div class="main-long">
  <div class="headerImage"></div>
  <div class="wrapper">
    <div class="form-wrapper" data-aos="fade-up" data-aos-duration="3000">
      <div class="title-wrapper">
        <h1 class="title-form">Info</h1>
      </div>

      <div *ngIf="user" class="user-details">
        <div *ngIf="user.photoURL" class="detail">
          <img
            src="{{ user.photoURL }}"
            alt=""
            data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000"
          />
        </div>

        <div *ngIf="user.displayName" class="detail">
          <span>Display name:</span>
          <span>{{ user.displayName }}</span>
        </div>

        <div class="detail">
          <span>Email:</span>
          <span>{{ user.email }}</span>
        </div>

        <div class="detail">
          <span>First name:</span>
          <span>{{ user.firstName }}</span>
        </div>

        <div class="detail">
          <span>Last name:</span>
          <span>{{ user.lastName }}</span>
        </div>

        <div class="detail">
          <span>Created at:</span>
          <span>{{ user.metadata.createdAt | timestampFormat }}</span>
        </div>

        <div class="detail">
          <span>Last login:</span>
          <span>{{ user.metadata.lastLoginAt | timestampFormat }}</span>
        </div>

        <hr class="hr" />

        <span
          class="button-img"
          *ngIf="showAuthFormEdit"
          (click)="toggleAuthFormEdit()"
        >
          Hide Form
        </span>

        <form
          data-aos="fade-right"
          data-aos-duration="1500"
          *ngIf="showAuthFormEdit"
          [formGroup]="authFormEdit"
          (ngSubmit)="onSubmit()"
        >
          <label for="firstName">First name:</label>
          <input type="text" id="firstName" formControlName="firstName" />

          <div
            *ngIf="
              authFormEdit.get('firstName')?.invalid &&
              authFormEdit.get('firstName')?.touched
            "
          >
            <div
              class="errors"
              *ngIf=" authFormEdit.get('firstName')?.errors?.['required']"
            >
              First name is required!
            </div>
          </div>

          <label for="lastName">Last Name:</label>
          <input type="text" id="lastName" formControlName="lastName" />

          <div
            *ngIf="
              authFormEdit.get('lastName')?.invalid &&
              authFormEdit.get('lastName')?.touched
            "
          >
            <div
              class="errors"
              *ngIf=" authFormEdit.get('lastName')?.errors?.['required']"
            >
              Last name is required!
            </div>
          </div>

          <label for="displayName">Display Name:</label>
          <input type="text" id="displayName" formControlName="displayName" />

          <div
            *ngIf="
              authFormEdit.get('displayName')?.invalid &&
              authFormEdit.get('displayName')?.touched
            "
          >
            <div
              class="errors"
              *ngIf=" authFormEdit.get('displayName')?.errors?.['required']"
            >
              Display name is required!
            </div>
          </div>
          <br />
          <br />
          <!-- Image Upload -->
          <app-image-upload (imageUploaded)="addImageToForm($event)" />

          <!-- Image -->

          <label for="photoURL">Photo URL:</label>
          <p class="hint">Added image</p>
          <div class="input-flex">
            <input type="text" id="photoURL" formControlName="photoURL" />
            <button
              *ngIf="authFormEdit.get('photoURL')?.value"
              class="removeInput"
              type="button"
              (click)="removeImage()"
            >
              <i class="fa-solid fa-xmark fa-beat-fade"></i>
            </button>
          </div>

          <!-- Image preview -->
          <img
            *ngIf="authFormEdit.get('photoURL')?.value"
            [src]="authFormEdit.get('photoURL')?.value"
            alt="Image Preview"
            class="image-preview"
          />

          <div
            *ngIf="
              authFormEdit.get('photoURL')?.invalid &&
              authFormEdit.get('photoURL')?.touched
            "
          >
            <div
              class="errors"
              *ngIf=" authFormEdit.get('photoURL')?.errors?.['required']"
            >
              Photo URL is required!
            </div>
          </div>

          <button
            class="button"
            style="width: 100%; margin-top: 20px"
            type="submit"
          >
            Submit
          </button>
        </form>

        <div class="commentBtnWrapper">
          <span
            class="button-img"
            (click)="deleteUser()"
            *ngIf="!showAuthFormEdit"
          >
            <i class="fa-solid fa-trash"></i>
          </span>

          <span
            class="button-img"
            *ngIf="!showAuthFormEdit"
            (click)="toggleAuthFormEdit()"
          >
            <i class="fa-regular fa-pen-to-square"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
