<div class="main-short">
  <div class="headerImage"></div>
  <div class="wrapper">
    <div class="form-wrapper">
      <div class="title-wrapper">
        <h1 class="title-form">Info</h1>
      </div>

      <div *ngIf="user" class="user-details">
        <div class="detail">
          <span>Email:</span>
          <span>{{ user.email }}</span>
        </div>

        <div class="detail">
          <span>First name:</span>
          <span>{{ user.firstName }}</span>
        </div>

        <div class="detail">
          <span>Last name:</span>
          <span>{{ user.lastName }}</span>
        </div>

        <!-- new -->
        <div class="detail">
          <span>Display name:</span>
          <span>{{ user.displayName }}</span>
        </div>

  
        <div class="detail">
          <span>Phone Number:</span>
          <span>{{ user.phoneNumber }}</span>
        </div>

        <div class="detail">
          <span>Photo:</span>
          <span>{{ user.photoURL }}</span>
        </div>


        <!-- new -->
        <div class="detail">
          <span>Created at:</span>
          <span>{{ user.metadata.createdAt | timestampFormat }}</span>
        </div>

        <div class="detail">
          <span>Last login:</span>
          <span>{{ user.metadata.lastLoginAt | timestampFormat }}</span>
        </div>

        <span
          class="btn btn-outline-light"
          style="color: var(--textColor)"
          *ngIf="showAuthFormEdit"
          (click)="toggleAuthFormEdit()"
        >
          Hide Form
        </span>

        <form
          *ngIf="showAuthFormEdit"
          [formGroup]="authFormEdit"
          (ngSubmit)="onSubmit()"
        >
          <label for="firstName">First name:</label>
          <input type="text" id="firstName" formControlName="firstName" />

          <div
            *ngIf="
              authFormEdit.get('firstName')?.invalid &&
              authFormEdit.get('firstName')?.touched
            "
          >
            <div
              class="errors"
              *ngIf=" authFormEdit.get('firstName')?.errors?.['required']"
            >
              First name is required!
            </div>
          </div>

          <label for="lastName">Last Name:</label>
          <input type="text" id="lastName" formControlName="lastName" />

          <div
            *ngIf="
              authFormEdit.get('lastName')?.invalid &&
              authFormEdit.get('lastName')?.touched
            "
          >
            <div
              class="errors"
              *ngIf=" authFormEdit.get('lastName')?.errors?.['required']"
            >
              Last name is required!
            </div>
          </div>

          <button
            class="button"
            style="width: 100%; margin-top: 20px"
            type="submit"
          >
            Submit
          </button>
        </form>

        <div class="commentBtnWrapper">
          <span (click)="deleteUser()" *ngIf="!showAuthFormEdit">
            <i class="fa-solid fa-trash fa-shake"></i>
          </span>

          <span *ngIf="!showAuthFormEdit" (click)="toggleAuthFormEdit()">
            <i class="fa-regular fa-pen-to-square fa-flip"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
