<ul class="nav nav-tabs">
  <li data-aos="fade-right" data-aos-duration="3000" class="nav-item" >
    <a
    
      class="nav-link"
      aria-current="page"
      routerLink="/dashboard/user-recipes"
      href="#"
      >My&nbsp;recipes</a
    >
  </li>
  <li data-aos="fade-right" data-aos-duration="1500" class="nav-item">
    <a
      class="nav-link"
      aria-current="page"
      routerLink="/dashboard/recipe-create"
      href="#"
      >Create&nbsp;recipe</a
    >
  </li>
  <li data-aos="fade-right" class="nav-item">
    <a
      class="nav-link"
      aria-current="page"
      routerLink="/dashboard/user-favorite-recipes"
      href="#"
      >Favorite&nbsp;recipes</a
    >
  </li>
  <li data-aos="fade-left" data-aos-duration="1500" class="nav-item">
    <a
      class="nav-link"
      aria-current="page"
      routerLink="/dashboard/user-comments"
      href="#"
      >My&nbsp;comments</a
    >
  </li>
  <li data-aos="fade-left" data-aos-duration="3000" class="nav-item">
    <a
      class="nav-link"
      aria-current="page"
      routerLink="/dashboard/user-info"
      href="#"
      >Profile</a
    >
  </li>
</ul>

<router-outlet></router-outlet>
