.nav.nav-tabs{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.nav-link{
    padding: 10px;
}

@media (max-width: 991px){
    .nav.nav-tabs{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}