form {
  max-width: 600px;
  margin: -50px auto 50px auto;
  padding: 32px;
  background-color: var(--backgroundColor);
  border-radius: unset;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3);
}
.add-recipe:before {
  background: linear-gradient(to bottom, transparent 35%, var(--textColor) 35%, var(--textColor) 65%, transparent 65%), linear-gradient(to right, transparent 35%, var(--textColor) 35%, var(--textColor) 65%, transparent 65%);
  content: "";
  width: 25px;
  height: 25px;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.add-recipe {
  display: flex;
  box-shadow: inset 0 -24px 0 0 var(--mainYellowColor);
  padding-bottom: 10px;
  font-weight: 900;
  color: var(--mainBlackColor);
}
.subtitle {
  font: normal 400 16px / 24px "Source Sans Pro", sans-serif;
  letter-spacing: 0;
  color: var(--mainBlackColor);
}
label {
  color: var(--mainBlackColor);
  font-weight: bold;
}
textarea::placeholder,
input::placeholder {
  font-weight: bold;
  font-style: italic;
  opacity: 0.5;
  color: var(--textColor);
}
.input-flex input {
  margin: unset;
}
.input-flex {
  display: flex;
  gap: 20px;
  align-items: baseline;
  margin-bottom: 20px;
}
.ingredient {
  background-color: var(--aliceBlueColor);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3);
  padding: 20px;
  margin-bottom: 30px;
  position: relative;
}
.removeIngredientWrapper {
  display: flex;
  justify-content: flex-end;
}
/*.removeIngredient {*/
/*  border: unset;*/
/*  background-color: unset;*/
/*}*/
/*.removeIngredient:hover {*/
/*  color: var(--secondColor);*/
/*}*/
.removeInput {
  all: unset;
  color: var(--mainRedColor);
  cursor: pointer;
  text-align: right;
}
.removeInput:hover {
  color: var(--secondColor);
}

.quantity-unit-index-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
  text-align: center;
  align-items: flex-end;
  gap: 10px;
}
.quantity {
  flex-basis: 150px;
}
.order-index {
  flex-basis: 50px;
}
.unit {
  flex-grow: 5;
}
.unit select {
  color: var(--textColor);
  font-style: italic;
  font-size: 14px;
  outline: none;
  height: 45px;
}
@media (max-width: 640px) {
  .button-img {
    width: 100%;
  }
}
