<div *ngIf="recipes.length === 0; else recipesList">
  <main class="main-short">
    <div class="headerImage"></div>
    <div class="wrapper">
      <div class="empty">
        <div class="title-wrapper">
          <h1 class="title">You have no recipes!</h1>
        </div>

        <div class="logo-svg">
          <app-logo-svg />
        </div>
    
        <div class="emptyInfo">
          <p>You can write your first recipe &nbsp;&nbsp;</p>

          <button class="button" routerLink="/dashboard/recipe-create">
            Create recipe
          </button>
        </div>
      </div>
    </div>
  </main>
</div>

<ng-template #recipesList>
  <main class="main-long">
    <div class="headerImage"></div>
    <div class="wrapper-list">
      <div class="title-wrapper">
        <h1 *ngIf="userData" class="title">
          Recipes by {{ userData.firstName + " " + userData.lastName }}
        </h1>
      </div>

      <div class="recipe-list">
        <div *ngFor="let recipe of recipes">
          <a [routerLink]="['/recipe', recipe.id]">
            <div class="recipe-item">
              <div class="recipe-image">
                <img
                  [src]="recipe!.image_recipe[0]!.image_recipe"
                  alt="{{ recipe.title }}"
                />
              </div>
              <p class="recipe-title">{{ recipe.title }}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </main>
</ng-template>

<!--

  <main class="main-long">
  <div class="headerImage"></div>
  <div class="wrapper-list">
    <div class="title-wrapper">
      <h1 class="title">Recipes by {{ userData.firstName + " " + userData.lastName }}</h1>
    </div>


    <div class="recipe-list">
      <div *ngFor="let recipe of recipes">
        <a [routerLink]="['/recipe', recipe.id]">
          <div class="recipe-item">
            <div class="recipe-image">
              <img
                [src]="recipe!.image_recipe[0]!.image_recipe"
                alt="{{ recipe.title }}"
              />
            </div>
            <p class="recipe-title">{{ recipe.title }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</main>

 -->
