<main
  class="main"
  [ngClass]="{
    'main-short': recipes.length === 0,
    'main-long': recipes.length > 0
  }"
>
  <div class="headerImage"></div>
  <div class="wrapper" *ngIf="recipes.length >= 0"  data-aos="fade-up" data-aos-duration="3000">
    <div class="empty" *ngIf="recipes.length === 0 && !isLoadingComments">
      <div class="title-wrapper">
        <h1 class="title">You have no recipes!</h1>
      </div>
      <!-- <div class="logo-svg">
        <app-logo-svg />
      </div> -->

      <div class="emptyInfo">
        <p>You can add your first recipe &nbsp;&nbsp;</p>
        <a
          routerLink="/dashboard/recipe-create"
          class="btn btn-success"
          style="background-color: var(--textColor); border: unset"
          href=""
          >Add Recipe</a
        >
      </div>
    </div>

    <div class="empty" *ngIf="isLoadingComments">
      <div class="loader"></div>
    </div>

    <div *ngIf="recipes.length > 0 && !isLoadingComments" class="wrapper-list" data-aos="fade-up" data-aos-duration="3000">
      <div *ngIf="userData" class="title-wrapper">
        <h1 class="title">
          {{ userData.firstName + " " + userData.lastName }} recipes
        </h1>
      </div>

      <div class="recipe-list">
        <div
          data-aos="flip-left"
          data-aos-easing="ease-out-cubic"
          data-aos-duration="2000"
          *ngFor="let recipe of recipes"
        >
          <a [routerLink]="['/recipe', recipe.id]">
            <div class="recipe-item">
              <div class="recipe-image">
                <img
                  [src]="recipe!.image_recipe[0]!.image_recipe"
                  alt="{{ recipe.title }}"
                />
              </div>
              <p class="recipe-title">{{ recipe.title }}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
